@import url('https://fonts.googleapis.com/css2?family=Playball&family=Ubuntu:wght@300;700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    color: #363062;
    background-color: #FCF1F1;
    margin: 0;
}

.greeting {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #0C2132;
    margin: 0;
    z-index: 2;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("img/space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.welcome {
    font-family: 'Playball', cursive;
    position: absolute;
    top: 35%;
    font-size: 60px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 20px #56EBFE;
}

.name {
    position: fixed;
    top: 0;
    left: 50px;
    display: flex;
    justify-content: center;
    width: 240px;
    height: 240px;
    background-image: url("img/name-bckgrnd.JPG");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.404);
    z-index: 1;
}

#name {
    color: #fff;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    margin: auto 0;
    padding: 0;
    line-height: 1;
    animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
      text-shadow:
      0 0 5px rgb(246, 230, 253),
      0 0 10px rgb(175, 1, 255),
      0 0 15px rgb(76, 0, 255);
    }
    to {
      text-shadow:
      0 0 15px rgb(255, 255, 255),
      0 0 20px rgb(196, 1, 255),
      0 0 25px rgb(115, 0, 255);
    }
}

.nav-list {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    background-image: url('img/space2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 0 1000px;
    box-shadow: 0 10px 2px rgba(0, 0, 0, 0.404);
    z-index: 1;
}

.show {
    display: flex;
}

.nav-list ul{
    list-style-type: none;
    margin: 30px 0 0 0;
    padding: 0;
}

.nav-list li {
    font-size: 22px;
    text-align: center;
    margin: 25px 0;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 2px #f6fafb,
                0 0 5px #0AA1DD,
                0 0 10px #40DFEF,
                inset 0 0 2px #f6fafb,
                inset 0 0 5px #0AA1DD,
                inset 0 0 10px #40DFEF;
    
}

.nav-list li:hover {
    box-shadow: 0 0 15px #40DFEF,
                0 0 10px #0AA1DD,
                0 0 5px #f6fafb,
                inset 0 0 12px #40DFEF,
                inset 0 0 7px #0AA1DD,
                inset 0 0 4px #f6fafb;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 2px rgb(253, 250, 255),
                 0 0 10px rgb(242, 30, 238),
                 0 0 5px rgb(142, 22, 255);
}

.nav-btn {
    position: fixed;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 2px #f6fafb,
                0 0 5px #0AA1DD,
                0 0 10px #40DFEF,
                inset 0 0 2px #f6fafb,
                inset 0 0 5px #0AA1DD,
                inset 0 0 10px #40DFEF;
    z-index: 1;
    cursor: pointer;
}

.nav-btn:hover {
    box-shadow: 0 0 15px #40DFEF,
                0 0 10px #0AA1DD,
                0 0 5px #f6fafb,
                inset 0 0 12px #40DFEF,
                inset 0 0 7px #0AA1DD,
                inset 0 0 4px #f6fafb;
}

.nav-btn.active .bar:nth-child(2) {
    display: none;
}

.nav-btn.active .bar:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
}

.nav-btn.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

.bar {
    background-color: #fff;
    width: 30px;
    height: 4px;
    margin: 3px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(253, 250, 255),
                 0 0 10px rgb(242, 30, 238),
                 0 0 5px rgb(142, 22, 255);
                 transition: 1s ease;
}

.container {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    width: 100%;
    margin: 0; 
    padding: 0;
}

#portfolio {
    background-color: #FCF1F1;
}

.header {
    display: flex;
    justify-content: center;
    width: 260px;
    background-image: linear-gradient(to bottom, transparent, #fff, transparent);
}

.header h1 {
    position: sticky;
    top: 430px;
    font-family: 'Playball', cursive;
    font-size: 64px;
    color: silver;
    text-align: end;
    width: 260px;
    height: auto;
    margin: auto 0;
    transform: rotate(-90deg);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin-top: 140px;
    margin-bottom: 40px;
}

.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 98%;
    height: 700px;
    margin: 0;
}

.html-css,
.js,
.c,
.procreate { 
    background-image: linear-gradient(50deg, #6fb7d1, #CAF7E3);
    width: 440px;
    height: 320px;
    text-align: center;
    margin: 15px;
    padding: 0;
    border-radius: 100px 0 100px 0;
}

.html-css, .procreate {
    border-radius: 0 100px 0 100px;
}

.html-css:hover,
.js:hover,
.c:hover,
.procreate:hover {
    box-shadow: 5px 5px 10px rgba(35, 46, 68, 0.5);
}

h3 {
    font-size: 25px;
    color: #fff;
    margin: 40px auto 0 auto;
}

.logo {
    height: 210px;
    width: auto;
    margin-top: 10px;
}

.html-css img {
    height: 260px;
    margin-top: -5px;
}

.js img, .c img {
    height: 180px;
    margin-top: 27px;
}

/* About */

#about {
    background-color: #ebfff5;
}

#about p {
    font-size: 20px;
    line-height: 1.6;
    margin: 0 50px;
}

.skills {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.tagcloud {
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;  
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 10px #e100ff,
                 0 0 8px #ff0077,
                 0 0 5px #fff8ff;
}
  
.tagcloud--item:hover {
    font-size: 30px;
  }

  .content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    z-index: 0;
  }

  .responsive-one, 
  .responsive-two {
      display: none;
      justify-content: center;
      z-index: 0;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
  }

  .certificate {
    width: 300px;
    margin: 20px 0;
    cursor: pointer;
  }

  .certificate:hover {
    box-shadow: 5px 5px 10px rgba(35, 46, 68, 0.5);
  }

  .zoom {
    position: absolute;
    top: -140px;
    right: 0;
    width: 910px;
    transition: 1s ease;
  }

  /* Contacts */

#contacts {
    background-color: #f4ecff;
}

.main h1 {
    text-align: center;
    margin: 30px auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
}

input {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    width: 300px;
    margin: 0 10px;
    padding: 10px 20px;
}

textarea {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    width: 665px;
    margin: 30px;
    padding: 10px 20px;
}

#contact-btn {
    font-family: 'Ubuntu', sans-serif;
    color: #363062;
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    background-image: linear-gradient(45deg, #6fb7d1, #CAF7E3);
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 100px 0 100px 0;
    cursor: pointer;
}

#contact-btn:hover {
    box-shadow: 5px 5px 10px rgba(35, 46, 68, 0.5);
}

.social {
    position: fixed;
    top: 40%;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.social a {
    margin: 5px 0;
    width: 50px;
}

.social img {
    width: 45px;
    height: auto;
}

.social img:hover {
    width: 50px;
    height: auto;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 110px;
    position: relative;
}

.footer p {
    text-align: center;
    color: #363062;
    margin: 0;
}

#top-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-image: url('img/gotop.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#top-btn:hover {
    box-shadow: 5px 5px 10px rgba(35, 46, 68, 0.5);
}

/* Projects */

#html-css {
    background-color: #FCF1F1;
}

#html-css .portfolio {
    height: 300px;
    margin-top: 150px;
}

#js {
    background-color: #ebfff5;
    height: 250vh;
}

#c {
    background-color: #f4ecff;
}

#procreate {
    background-color: #e3f7ff;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px;
    border-radius: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none
}

.description h3 {
    margin-top: 20px;
}

.description p {
    color: #fff;
    padding: 0 20px;
    text-align: center;
}

.description a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 30px;
    background-color: #009cd4;
    border-radius: 100px 0 100px 0;
    padding: 10px 30px;
    text-shadow: none;
}

.description a:hover {
    box-shadow: 5px 5px 10px rgba(252, 252, 252, 0.5);
}

.selected {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
}

.selected .description {
    display: flex;
}

/* HTML CSS */

.html-one {
    background-image: url('img/projects/task.png');
}

.html-two {
    background-image: url('img/projects/loruki.png');
}

/* JS */

.one {
    background-image: url('img/projects/bill.png');
}

.two {
    background-image: url('img/projects/restaurant.png');
}

.three {
    background-image: url('img/projects/todo.png');
    
}

.four {
    background-image: url('img/projects/game.png');
}

.five {
    background-image: url('img/projects/birthday.png');
}

.six {
    background-image: url('img/projects/movies.png');
}

.seven {
    background-image: url('img/projects/auto.png');
}

.eight {
    background-image: url('img/projects/furniture.png');
}

.nine {
    background-image: url('img/projects/love.png');
}

.ten {
    background-image: url('img/projects/weather.png');
}

.eleven {
    background-image: url('img/projects/quiz.png');
}

.twelve {
    background-image: url('img/projects/nap.png');
}

/* C */

.c-one,
.c-two,
.c-three,
.c-four {
    background-size: cover;
    width: 410px;
}

.c-one {
    background-image: url('img/projects/credit.jpg');
}
.c-two {
    background-image: url('img/projects/readability.jpg');
}
.c-three {
    background-image: url('img/projects/scrabble.jpg');
}
.c-four {
    background-image: url('img/projects/substitution.jpg');
}

/* Procreate */
#procreate .main {
    align-items: center;
}

.counter {
    display: flex;
    justify-content: center;
    color: #292C6D;
    font-weight: bold;
    width: 100%;
}

.slideshow {
    display: flex;
    justify-content: center;
    height: 550px;
}

.picture {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 800px;
}

#procreate-img {
    width: auto;
    margin: 0;
}

.slide-btn {
    font-size: 40px;
    background-color: white;
    color: #292C6D;
    border: none;
    width: 50px;
    cursor: pointer;
}

.slide-btn#back {
    border-radius: 30px 0 0 30px;
}

.slide-btn#next {
    border-radius: 0 30px 30px 0;
}

#procreate .footer {
    margin-top: 100px;
}

@media all and (max-width: 960px){
    .welcome {
        font-size: 40px;
    }

    .name {
        left: 30px;
        width: 220px;
        height: 220px;
    }

    #name {
        font-size: 22px;
    }

    .header {
        width: 220px;
    }
    
    .header h1 {
        font-size: 54px;
    }
    
    .main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 60%;
        margin-top: 140px;
    }
    
    .portfolio {
        height: auto;
    }
    
    .html-css,
    .js,
    .c,
    .procreate { 
        width: 380px;
        height: 220px;
        margin: 15px;
        border-radius: 100px 0 100px 0;
    }
    
    .html-css, .procreate {
        border-radius: 100px 0 100px 0;
    }
    
    h3 {
        font-size: 22px;
        margin: 20px auto 0 auto;
    }
    
    .logo {
        height: 150px;
    }
    
    .html-css img {
        height: 200px;
    }
    
    .js img, .c img {
        height: 120px;
    }

    /* About */

    #about p {
        font-size: 20px;
    }

    .skills {
        flex-direction: column;
        align-items: center;
    }

    .tagcloud {  
        font-size: 18px;
    }
      
    .tagcloud--item:hover {
        font-size: 20px;
      }

    .content, .responsive-two {
        display: none;
    }

    .responsive-one {
        display: flex;
    }

    .right {
        margin-top: 20px;
        margin-left: 0;
    }

    .certificate {
        width: 350px;
    }

    .zoom {
        top: 590px;
        right: 20px;
        width: 450px;
    }

    /* Contacts */

    .main h1 {
        font-size: 25px;
        margin: 100px auto 20px auto;
    }

    form {
        margin: 20px 0;
    }

    input {
        font-size: 14px;
        width: 190px;
        margin: 0 5px;
        padding: 10px;
    }

    textarea {
        font-size: 14px;
        width: 420px;
        margin: 20px 5px;
        padding: 10px;
    }

    #contact-btn {
        font-size: 20px;
        width: 150px;
    }
    
    .social {
        position: inherit;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 150px auto 20px auto;
    }
    
    .social img {
        width: 40px;
    }
    
    .social img:hover {
        width: 45px;
    }

    .footer {
        margin: 10px auto;
    }
    
    .footer p {
        font-size: 14px;
    }

    #top-btn {
        right: 22px;
        width: 50px;
        height: 50px;
    }

    .project {
        margin: 0;
        margin-bottom: 40px;
    }

    /* Projects */

    #js {
        height: 350vh;
    }

    /* Procreate */
    .counter {
        margin-top: 130px;
        font-weight: lighter;
    }

    .slideshow {
        margin-top: 0;
        height: 260px;
    }

    .picture {
        width: 370px;
    }

    .slide-btn {
        font-size: 25px;
        width: 30px;
    }

    .slide-btn#back {
        border-radius: 20px 0 0 20px;
    }

    .slide-btn#next {
        border-radius: 0 20px 20px 0;
    }

    #procreate .footer {
        margin-top: 300px;
    }
}

@media all and (max-width: 500px){
    .welcome {
        font-size: 24px;
    }

    .name {
        left: 10px;
        width: 160px;
        height: 150px;
        box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.404);
    }

    #name {
        font-size: 18px;
    }

    .nav-list {
        width: 375px;
        height: 375px;
    }

    .nav-list ul {
        margin: 10px 0 0 0;
    }

    .nav-list li {
        font-size: 18px;
        margin: 15px 0;
        padding: 8px 20px;
    }

    .nav-btn {
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        padding: 3px;
    }
    
    .nav-btn.active .bar:nth-child(1) {
        transform: translateY(3px) rotate(45deg);
    }
    
    .nav-btn.active .bar:nth-child(3) {
        transform: translateY(-4.5px) rotate(-45deg);
    }

    .bar {
        width: 25px;
        height: 3px;
        margin: 2.5px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 100vh;
        width: 100%;
        margin: 0; 
        padding: 0;
    }

    .header {
        display: flex;
        justify-content: flex-end;
        background-image: linear-gradient(to right, transparent, #fff);
        width: 100%;
        margin-top: 110px;
    }
    
    .header h1 {
        position: inherit;
        font-size: 38px;
        margin-right: 20px;
        transform: rotate(0);
    }
    
    .main{
        align-items: center;
        width: 100%;
        margin-top: 50px;
    }
    
    .portfolio {
        height: auto;
    }
    
    .html-css,
    .js,
    .c,
    .procreate { 
        width: 350px;
        height: 200px;
        margin: 10px;
        border-radius: 100px 0 100px 0;
    }
    
    .html-css, .procreate {
        border-radius: 100px 0 100px 0;
    }
    
    h3 {
        font-size: 22px;
        margin: 20px auto 0 auto;
    }
    
    .logo {
        height: 130px;
        width: auto;
        margin-top: 10px;
    }
    
    .html-css img {
        height: 170px;
        margin-top: -5px;
    }
    
    .js img, .c img {
        height: 100px;
        margin-top: 27px;
    }

    /* About */

    #about p {
        font-size: 16px;
        text-align: center;
        margin: 20px 20px 0 20px;
    }

    .skills {
        flex-direction: column;
        align-items: center;
    }

    .left {
        margin: 20px 0;
    }

    .tagcloud {  
        font-size: 16px;
    }
      
    .tagcloud--item:hover {
        font-size: 18px;
      }

    .content, .responsive-one {
        display: none;
    }

    .responsive-two {
        display: flex;
        margin-top: 40px;
    }

    .right {
        margin: 100px 0 0 0;
    }
    .zoom {
        position: inherit;
        width: 350px;
    }

    /* Contacts */

    .main h1 {
        margin: 20px auto 10px auto;
    }
    
    form {
        margin: 10px auto;
    }

    .name-email {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input {
        font-size: 12px;
        width: 300px;
        margin: 10px auto;
        padding: 10px;
    }
    
    textarea {
        font-size: 14px;
        width: 300px;
        margin: 10px auto;
        padding: 10px;
    }
    
    #contact-btn {
        font-size: 20px;
        width: 150px;
        padding: 10px;
    }

    .social {
        position: inherit;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 70px;
        margin: 40px auto;
    }
    
    .social img {
        width: 30px;
    }
    
    .social img:hover {
        width: 35px;
    }

    .footer {
        margin: 10px auto;
    }
    
    .footer p {
        font-size: 12px;
    }

    #top-btn {
        right: 22px;
        width: 40px;
        height: 40px;
    }

    /* Project */

    #html-css .portfolio {
        height: auto;
        margin-top: 50px;
    }

    #js {
        height: 390vh;
    }

    .project {
        width: 350px;
        height: 170px;
        margin: 0;
        margin-bottom: 40px;
    }

    #c .project {
        width: 310px;
        height: 170px;
    }

    .description h3 {
        margin-top: 20px;
    }

    .description p {
        color: #fff;
        padding: 0 20px;
        text-align: center;
    }

    .description a {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        background-color: #009cd4;
        border-radius: 100px 0 100px 0;
        padding: 10px 30px;
        text-shadow: none;
    }

    .selected {
        box-shadow: inset 0 0 0 400px rgba(0,0,0,.7);
    }

    /* Procreate */

    .counter {
        margin-top: 10px;
        font-size: 14px;
        font-weight: lighter;
    }

    .slideshow {
        margin-top: 0;
        height: 200px;
    }

    .picture {
        width: 280px;
    }

    #procreate-img {
        height: 200px;
    }

    .slide-btn {
        font-size: 20px;
        width: 30px;
        height: 200px;
    }

    #procreate .footer {
        margin-top: 200px;
        height: 30px;
    }
}
